{
  "importOrder": [
    "^react$",
    "^react-native$",
    "^@assets/(.*)",
    "^@components/(.*)",
    "^@customTypes/(.*)",
    "^@helpers/(.*)",
    "^@screens/(.*)",
    "^@services/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
